[submodule "uPalette"]
	path = uPalette
	url = https://github.com/DingoBite/uPalette.git
[submodule "MackySoft"]
	path = MackySoft
	url = https://github.com/DingoBite/Unity-SerializeReferenceExtensions.git
[submodule "NaughtyAttributes"]
	path = NaughtyAttributes
	url = https://github.com/DingoBite/NaughtyAttributes.git
