[submodule "uPalette"]
	path = uPalette
	url = https://github.com/DingoBite/uPalette.git
[submodule "MackySoft"]
	path = MackySoft
	url = https://github.com/DingoBite/Unity-SerializeReferenceExtensions.git
[submodule "NaughtyAttributes"]
	path = NaughtyAttributes
	url = https://github.com/DingoBite/NaughtyAttributes.git
[submodule "Newtonsoft.Json-for-Unity.Converters"]
	path = Newtonsoft.Json-for-Unity.Converters
	url = https://github.com/DingoBite/Newtonsoft.Json-for-Unity.Converters.git
